.idea/
bin/
composer.phar
composer.lock
vendor/
config/config_test.php
config/config_prod.php
config/config_dev.php

tests/_log/*
tests/_temp/*
# tests/_data/*
tests/_output/*


# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

